
        .title__wrapper {
            height: 80px;
            padding: 16px;
            box-sizing: border-box;
            display: flex;
            background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
        }
        .title__text {
            font-size: 16px;
            font-weight: normal;
            vertical-align: middle;
            margin: auto 0;
            text-align: left;
            color: #7E7E82;
        }
        .repair-brands-wrapper {
            padding: 16px;
        }
        .repair-brands-wrapper__slides--technictypes {
            width: 240px;
            height: 160px;
            border-radius: 6px;
            border: 1px solid #EAEAEA;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            box-sizing: border-box;
            background-color: #fff;
        }
        .repair-brands-wrapper__slides--title-text {
            margin: 0;
        }
        .repair-brands-wrapper__slides--go-technictypes {
            margin-left: auto;
        }
        .repair-brands-wrapper__slides--title {
            margin-right: auto;

        }.repair-brands__second-slider{
            >.swiper-container {
                min-width: 320px;
                height: 220px;
            }
        }
    
        
        .swiper-container-horizontal {
            >.swiper-pagination-bullets {
                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    background-color: #B5B6BC;
                }
            }
        }
        .repair-brands-wrapper__showed-768px--technictypes {
            display: none;
        }
        .show-more__about--technictypes {
            display: none;
        }
        @media (min-width: 768px) {
            .repair-brands-wrapper__showed-768px--technictypes {
                box-sizing: content-box;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: flex-start;
                height: auto;
                overflow-y: hidden;
                &>.repair-brands-wrapper__slides--technictypes {
                flex-shrink: 0;
                display: none;
                margin: 8px 0 8px 16px;
                width: 240px;
                transition-duration: 1s;
            }
           
        }
            .swiper-container {
                display: none;
            }
            .show-more__about--technictypes {
                display: block;
                padding: 6px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: -0.2px;
                border: hidden;
                background-color: #F8F8F8;
                margin: 1.7em;
                border: 2px solid #F8F8F8;
                border-radius: 6px;
                &:hover {
                    border: 2px solid #B8FFEC;
                    border-radius: 6px;
                    background-color: #FFFFFF;
                    transition: 1s;
                }
            }
            .show-more__icon {
                margin-right: 16px;
            }
        }
      /*  @media (min-width: 1020px) {
                   .repair-brands-wrapper__showed-768px--technictypes {
                  &>.repair-brands-wrapper__slides--technictypes:nth-child(-n+4) {
                    display: flex;
                    flex-shrink: 0;
                    margin: 8px 0 8px 16px;
                    width: 240px;
                    transition-duration: 1s;
                }
                &>.repair-brands-wrapper__slides--technictypes:nth-child(n+5) {
                    display: none;
                }
            }
        }*/

        @media (min-width: 1120px) {
            .repair-brands-wrapper__slides--technictypes {
                flex-shrink: 0;
                margin: 8px 16px;
                width: 240px;
                transition-duration: 1s;
            }
        }
            /*@media (min-width: 1280px) {
                .repair-brands-wrapper__showed-768px--technictypes {
                    &>.repair-brands-wrapper__slides--technictypes:nth-child(-n+5) {
                      display: flex;
                      flex-shrink: 0;
                      margin: 8px 0 8px 16px;
                      width: 240px;
                      transition-duration: 1s;
                  }
                  &>.repair-brands-wrapper__slides--technictypes:nth-child(n+6) {
                      display: none;
                  }
              }
            }
        
            @media (min-width: 1440px) {
                .repair-brands-wrapper__showed-768px--technictypes {
                    &>.repair-brands-wrapper__slides--technictypes:nth-child(-n+4) {
                      display: flex;
                      flex-shrink: 0;
                      margin: 8px 0 8px 16px;
                      width: 240px;
                      transition-duration: 1s;
                  }
                  &>.repair-brands-wrapper__slides--technictypes:nth-child(n+5) {
                      display: none;
            }
                }
            }
            @media (min-width: 1640px) {
                .repair-brands-wrapper__showed-768px--technictypes {
                    &>.repair-brands-wrapper__slides--technictypes:nth-child(-n+5) {
                      display: flex;
                      flex-shrink: 0;
                      margin: 8px 0 8px 16px;
                      width: 240px;
                      transition-duration: 1s;
                  }
                  &>.repair-brands-wrapper__slides--technictypes:nth-child(n+6) {
                      display: none;
                  }
              }
            }
            @media (min-width: 1900px) {
                .repair-brands-wrapper__showed-768px--technictypes {
                    &>.repair-brands-wrapper__slides--technictypes:nth-child(-n+6) {
                      display: flex;
                      flex-shrink: 0;
                      margin: 8px 0 8px 16px;
                      width: 240px;
                      transition-duration: 1s;
                  }
                  &>.repair-brands-wrapper__slides--technictypes:nth-child(n+7) {
                      display: none;
                  }
              }
            }*/
            /*.showed {
                height: auto;
                box-sizing: content-box;
                overflow-y: visible;
                transition-duration: 500ms;
                transition-property: all;
            }*/
        